<form name="userForm" novalidate>
      <label for="name">Nombre</label><br />
      <input name="name" type="text" ng-model="user.name" />
      <br />
      <label for="email">Email</label><br />
      <input name="email" type="email" ng-model="user.email" />
      <br />
      <label for="gender">Género</label><br />
      <input name="gender" type="radio" ng-model="user.gender" value="male" />Masculino
      <input name="gender" type="radio" ng-model="user.gender" value="female" />Femenino
      <br />
      <label for="age">Edad</label><br />
      <input name="age" type="number" ng-model="user.age" />
      
      <br /><br />
      <input type="button" ng-click="reset()" value="Limpiar" />
      <input type="submit" ng-click="update()" value="Guardar" />
    </form>