<div class="container" ng-init="init()">
	<div class="col-md-8 col-md-offset-2">
		<form class="form-horizontal" role="form" name="myForm">
			<div class="form-group">
				<label class="control-label col-sm-3" for="lote">Número
					Lote:</label>
				<div class="col-sm-4">
					<select class="form-control" id="lote" name="lote"
						ng-options="item.numero as item.numero for item in lotes"
						ng-model="siembra.lote">
						<option value="" selected>Seleccione</option>

					</select>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-sm-3" for="variedad">Variedad:</label>
				<div class="col-sm-4">
					<select class="form-control" id="variedad" name="variedad"
						ng-options="item.id as item.nombre for item in lotes"
						ng-model="siembra.variedad">
						<option value="" selected>Seleccione</option>
					</select>

				</div>
			</div>

			
			<br /> <br />
			<div class="row">
				<div class="col-sm-offset-4">
					<input type="button" ng-click="reset()" value="Volver"
						class="btn btn-default" /> <input type="button"
						ng-click="realizarOperacion()" value="Guardar"
						class="btn btn-primary" />
				</div>
			</div>
		</form>
	</div>
</div>