<form class="form-horizontal" role="form">
					     <div class="form-group">
					    	<div>
					    	<label class="control-label col-sm-2" for="nombre">NOMBRE:</label>
						    <div class="col-sm-4">
			                  <input type="nombre" class="form-control" id="nombre"
			                       	placeholder="Ingrese el nombre" ng-model="nombre">
		                  
						    <div>
						    <label class="control-label col-sm-2" for="email">E-MAIL:</label>
						    <div class="col-sm-4">
			                  <input type="email" class="form-control" id="email"
				                      placeholder="Enter email" ng-model="email">
		                  
                       <div>
                       <label class="control-label col-sm-2" for="PHONE">TELEFONO:</label>
						    	<div class="col-sm-4">
			                     <input type="phone" class="form-control" id="phone"
				                   placeholder="Ingrese Numero Telefónico" ng-model="phone">
		                      </div>
						    	
						    </div>
                        </div>
					    <div class="right_form">
                                <div>					    	
                                    <span><label>COMENTARIO</label></span>
                                    <span><textarea name="userMsg" > </textarea>
                                    </span>
                                </div>
                               <div>
                                <span><input title="Se necesita un comentario"
                                 type="submit" 
                                 value="Enviar" 
                                 class="myButton" 
                                 required="required"></span>
                              </div>
						  </div>
					    </form>